
fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form__field:not(:last-child) {
  margin-bottom: 10px;
}

.form__field--cats {
  display: inline;
}
